html {
  background-color: darkgrey;
  font-family: 'Raleway', sans-serif;
  width:1253px;
  margin: auto;
  padding: auto;
}
header {
  
}

p.homeofthe{
}

#topnav nav {
  position: block;
  list-style-type: none;
  margin: 0;
  Padding: 0;
  display: inline;
}

#topnav li {
  float: right;
  margin: 5px;
  Padding: auto;
}

#logos {
  background-color: lightblue;
  overflow: auto;
  width: 1253px;
}
img.verse1 {
  width: 437px;
  height: 64px;
  float: left;
  margin-top: 181px;
}

img.logo {
  width: 456px;
  height: 245px;
  margin-left: -35px;
  float: left;
}

img.verse2 {
  margin-left: -42px;
  width: 437px;
  height: 64px;
  float: left;
  margin-top: 152px;
}

#mainnav {
  background-color: white;
  float: left;
}
/*1.225 (ammount to increase image sizes)*/

#mainnav nav {
  list-style-type: none;
  text-align:center;
  float: left;
  width: 100%;
}

#mainnav li {
  padding: 10px;
  margin: auto;
  display:inline;
  padding:0 30px;
  font-size: 25px;
  letter-spacing: 25%;
}
