html {
  font-family: 'Raleway', sans-serif;
  background-color: lightblue;
  width:1280px;
  margin: auto;
  padding: auto;
}

#topnav nav {
  position: block;
  list-style-type: none;
  margin: 0;
  Padding: 0;
  display: inline;
  margin-top: 6em;
}

#topnav li {
  float: right;
  margin: 5px;
  Padding: auto;
}

#mainnav {
  background-color: white;
}

#mainnav nav {
  list-style-type: none;
  text-align:center;
}

#mainnav li {
  float: left;
  padding: 10px;
  margin: auto;
  display:inline;
  padding:0 30px;
}
