header {
  font-family: 'Raleway', sans-serif;
  background-color: lightblue;
  width:1280px;
  margin: auto;
  padding: auto;
}

#topnav nav {
  position: block;
  list-style-type: none;
  margin: 0;
  Padding: 0;
  display: inline;
}

#topnav li {
  float: right;
  margin: 5px;
  Padding: auto;
}

img.verse1{
 /* width: 357px;
  height: 52px;*/
}

img.logo{
  width: 372px;
  /*height: 200px;
  margin-left: -35px;*/
}

img.verse2{
  margin-left: -40px;
 /* width: 357px;
  height: 52px;*/
}

#mainnav {
  background-color: white;
}

#mainnav nav {
  list-style-type: none;
  text-align:center;
}

#mainnav li {
  float: left;
  padding: 10px;
  margin: auto;
  display:inline;
  padding:0 30px;
}
